
header {
    background-color: blue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}


@media (max-width: 600px) {
    header {
        background-color: green;
        font-size: 18px;
    }
}
